---
apiVersion: v1
kind: Service
metadata:
  name: rsyslog
  namespace: monitoring
  annotations:
    external-dns.alpha.kubernetes.io/hostname: minecraft.lab.local
spec:
  ports:
    - name: tcp
      port: 514
      targetPort: 514
      protocol: TCP
    - name: udp
      port: 514
      targetPort: 514
      protocol: UDP
  type: LoadBalancer
  #externalTrafficPolicy: Local
  selector:
    app: rsyslog
  externalIPs: 
    - 192.168.0.141